.navbar-brand {
    display: block;
    text-align: center;
}
/* Estilos do tema claro */
body {
    background-color: #ffffff;
    color: #000000;
}

.navbar {
    background-color: #f8f9fa; /* Cor da navbar no tema claro */
}

/* Estilos do tema escuro */
body.dark-mode {
    background-color: #343a40; /* Cor de fundo no tema escuro */
    color: #ffffff; /* Cor do texto no tema escuro */
}

.dark-mode .navbar {
    background-color: #495057; /* Cor da navbar no tema escuro */
}

.dark-mode .btn-primary {
    background-color: #007bff; /* Cor do botão no tema escuro */
}
