.navbar-brand {
    display: block;
    text-align: center;
}

.container-custom {
  max-width: 960px;
  margin-top: 50px;
}
.form-header {
  font-weight: 700;
  color: #6c757d;
}
.btn-primary {
  background-color: #712cf9;
  border: none;
}
.btn-primary:hover {
  background-color: #5a23c8;
}
.form-section {
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}
